@{
    ViewData["Title"] = "Home Page";
}
<style>
    .container {
        
        text-align: center;
        margin-top: 10%;
        
    }
    .text{
        margin-top:20px;
    }
</style>

<div class="container">
    <h1>-------İngilizce kelime öğrenme sayfamıza hoş geldiniz-------</h1>
    <h2 class="text">-->Yukarıdaki " Kelimeler " sayfasından bilmediğiniz kelimeleri  ekleyebilir, silebilir, güncelleyebilir ve görüntüleyebilirsiniz.</h2>
    <h2 class="text">-->Ayrıca yukarıdaki " Quiz " sayfasından bilmediğiniz kelimelerden kendinizi quize sokabilirsiniz. </h2>
</div>
